		<footer class="footer">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="col-md-4">
						<ul>
							<li class="footer_title">
								<p class="footer-brand kitsuneUdon">arte aparte</p>
							</li>
							<li>
								<p>ARTISTAS</p>
								<p>COLECCIONES</p>
								<p>CREA TU DISEÑO</p>
								<p>NOSOTROS</p>
								<p>BLOG</p>
							</li>
						</ul>	
					</div>
					<div class="col-md-4">
						<ul class="social_networks_container">
							<li>
								<a href="http://www.facebook.com/" target="blank"><img class="social_networks" id="facebook" src="/assets/iconos/facebook.svg"></a>
								<a href="http://www.twitter.com/" target="blank"><img class="social_networks" src="/assets/iconos/twitter.svg"></a>
								<a href="http://www.instagram.com/" target="blank"><img class="social_networks" src="/assets/iconos/instagram.svg"></a>
								<a href="http://www.pinterest.com/" target="blank"><img class="social_networks" src="/assets/iconos/pinterest.svg"></a>
							</li>
						</ul>					
					</div>
					<div class="col-md-4">
						<ul>
							<li class="footer_title">
								<p>CONTÁCTANOS</p>
							</li>
							<li>
								<p>01-267-8839</p>
								<p>info@arteaparte.com.pe</p>
								<p>LIMA, PERÚ</p>
							</li>
						</ul>

					</div>

				</div>
			</div>
		</footer>