	<footer>
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="col-md-4">
					<ul>
						<li class="footer_title">
							<p>ARTE APARTE</p>
						</li>
						<li>
							<p>ARTISTAS</p>
							<p>COLECCIONES</p>
							<p>CREA TU DISEÑO</p>
							<p>NOSOTROS</p>
							<p>BLOG</p>
						</li>
					</ul>	
				</div>
				<div class="col-md-4">
					<ul class="social_networks_container">
						<li>
							<a href="http://www.facebook.com/" target="blank"><img class="social_networks" src="assets/icons/facebook.png"></a>
							<a href="http://www.twitter.com/" target="blank"><img class="social_networks" src="assets/icons/twitter.png"></a>
							<a href="http://www.instagram.com/" target="blank"><img class="social_networks" src="assets/icons/instagram.png"></a>
							<a href="http://www.pinterest.com/" target="blank"><img class="social_networks" src="assets/icons/pinterest.png"></a>
						</li>
					</ul>					
				</div>
				<div class="col-md-4">
					<ul>
						<li class="footer_title">
							<p>CONTÁCTANOS</p>
						</li>
						<li>
							<p>01-267-8839</p>
							<p>info@arteaparte.com.pe</p>
							<p>LIMA, PERÚ</p>
						</li>
					</ul>
					
				</div>
				
			</div>
		</div>
	</footer>