<div role="navigation" class="navbar-aa">
	<div class="container-fluid">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-xs-6">
						<div class="front desktop" style="height: 100%; width: 100%;"> 
							<a href="/"><img id="logo" src="/assets/logo_arteaparte.png" height="80px" class="pull-left" id="logo" style="padding:10px"></a>
						</div> 
						<div class="front_mobile" > 
							<img id="logo" src="/assets/logo_arteaparte.png" height="80px">
						</div> 
				</div>

				<div class="col-md-6 col-xs-6 navbar-right">
					<span class="pull-right" id="hb" style="font-size:30px; cursor:pointer">☰</span>
				</div>
			</div>
		</div>
	</div>
</div>	

<script type="text/javascript">
	$("#hb").click(function(){
		$(".site").toggleClass("moved-nav");
		$("#me-nu").toggleClass("visi");	
	});
</script>