<%= render "front_store/navbar" %>
<%= render "front_store/alert_messages" %>
<main class="site-content" style="background-color:#e6e6e6">
	<section class="home section supercenter" id="home-main">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 center">
				<img src="assets/logo_arteaparte.png" style="height:100px">
				<br>
				<h1 class="kitsuneUdon center">Sé tú el artista y crea el case más divertido para tu celular</h1>
				<br>
				<%= link_to "Crea el tuyo", new_picture_for_custom_path , class:"btn btn-green uppercase", method: :get%>
			</div>
		</div>
	</section>	
	<section id="conocenos">
		<div class="col-md-12" style="height:10vh">
			<h2 class="kitsuneUdon lightblue-text" style="text-align:center">arte aparte</h2>
		</div>
		<div class="container infoContainer">
			<div class="row">
				<div class="col-md-8 col-md-offset-2" style="text-align:center">
					<h3>Cases que te gustarán desde el primer momento.</h3>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<img style="height:250px" src="/assets/bg/datos2.png" alt="Imagen caracteristica 1">
						<div class="caption">
							<h3 class="century-bold pink-text">Mejor acabado</h3>
							<p>Te garantizamos el mejor acabado del mercado. No es broma.  </p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<img style="height:250px" src="/assets/bg/datos1.png" alt="Imagen caracteristica 2">
						<div class="caption">
							<h3 class="century-bold lightblue-text">Mayor protección</h3>
							<p>Resiste más de 100 caídas por día. Son duros de verdad. </p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<img style="height:250px" src="/assets/bg/datos3.png" alt="Imagen caracteristica 3">
						<div class="caption">
							<h3 class="century-bold pink-text">Emojis. Emojis. Emojis.</h3>
							<p>A todos nos encantan los emojis. En Arte Aparte puedes agrégarle emojis a todos tus cases. </p>
						</div>
					</div>
				</div>
			</div>
			<div class="supercenter" style="margin-bottom:-20px">
				<a href="/crea-tu-case/new" class="btn btn-success uppercase">Crea el tuyo</a>
			</div>
		</div>

	</section>
	<%= render "footer" %>
</main>		

<script type="text/javascript">
	mixpanel.track("Visitó la web");
</script>
