<main class="site-content">
<section class="home section supercenter" id="home-main">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 center">
				<img src="assets/logo_arteaparte.png" style="height:100px">
				<br>
				<h1 class="uppercase century center white-text">CREA EL CASE  MÁS DIVERTIDO PARA TU CELULAR</h1>
				<br>
				<a href="/crea-tu-case/new" class="btn btn-pink uppercase">Empezar</a>
			</div>
		</div>
	</section>	
	<section class="section" id="conocenos">
		<div class="col-md-12" style="height:10vh">
			<h2 class="century uppercase" style="text-align:center">Conócenos</h2>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. </h3>
					</div>
					<div class="col-sm-6 col-md-4">
						<div class="thumbnail">
							<img style="height:250px" src="/assets/bg/datos3.png" alt="Imagen caracteristica 1">
							<div class="caption">
								<h3>Mejor acabado</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua.</p>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4">
						<div class="thumbnail">
							<img style="height:250px" src="/assets/bg/datos1.png" alt="Imagen caracteristica 2">
							<div class="caption">
								<h3>Mejor protección</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua.</p>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4">
						<div class="thumbnail">
							<img style="height:250px" src="/assets/bg/home3.png" alt="Imagen caracteristica 3">
							<div class="caption">
								<h3>Emojis</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="supercenter">
				<a href="/crea-tu-case/new" class="btn btn-pink uppercase">Empezar</a>
			</div>
		</section>
	</main>		
		<%= render 'carts/shopping_cart_modal'%>
		<%= render "footer" %>
