<div class="container">
	<div class="row">
		<h1 class="kitsuneUdon">Esto es un título H1 en KitsuneUdon</h1>
		<h1 class="century">Esto es un título H1 en Century</h1>
		<h1 class="century-bold">Esto es un título H1 en Century bold</h1>


		<h2 class="kitsuneUdon">Esto es un h2 en KitsuneUdon</h2>
		<h2 class="century">Esto es un h2 en Century</h2>
		<h2 class="century-bold">Esto es un h2 en Century bold</h2>


		<h3 class="kitsuneUdon">Esto es un h3 en KitsuneUdon</h3>
		<h3 class="century">Esto es un en h3 Century</h3>
		<h3 class="century-bold">Esto es h3 un en Century bold</h3>


		<h4 class="kitsuneUdon">Esto es un h4 título en KitsuneUdon</h4>
		<h4 class="century">Esto es un h4 título en Century</h4>
		<h4 class="century-bold">Esto es un h4 título en Century bold</h4>

		<h5 class="kitsuneUdon">Esto es un h5 título en KitsuneUdon</h5>
		<h5 class="century">Esto es un h5 título en Century</h5>
		<h5 class="century-bold">Esto es un h5 título en Century bold</h5>

		<p class="kitsuneUdon">Esto es un p en KitsuneUdon</p>
		<p class="century">Esto es un p en Century</p>
		<p class="century-bold">Esto es un p en Century bold</p>
	</div>

	<div class="row">

	<a href="" class="btn btn-green">Botón green</a>
	<a href="" class="btn btn-pink">Botón pink</a>
	<a href="" class="btn btn-lightBlue">Botón lightBlue</a>
	<a href="" class="btn btn-success">Botón success</a>
		
	</div>
</div>

<section class="margin-20">
	<div class="century text-center container alert alert-primary alert-text">
		Esto es una alerta "primary"
	</div>
	<pre>
		<code class="language-markup">            
			&lt;div class=&quot;century text-center container alert alert-primary alert-text&quot;&gt;
			Esto es una alerta &quot;primary&quot;
			&lt;/div&gt;
		</code>
	</pre>


			<div class="century text-center container alert alert-warning alert-text">
				Esto es una alerta "warning"
			</div>
			<div class="century text-center container alert alert-success alert-text">
				Esto es una alerta "success"
			</div>
			<div class="century text-center container alert alert-danger alert-text">
				Esto es una alerta "danger"
			</div>
</section>

<!-- <h1 class="kitsuneUdon">Esto es un título H1 en KitsuneUdon</h1>
<h1 class="century">Esto es un título H1 en Century</h1>
<h1 class="century-bold">Esto es un título H1 en Century bold</h1> -->