<div class="container">
	<div class="row">
		<h1 class="kitsuneUdon">Esto es un título H1 en KitsuneUdon</h1>
		<h1 class="century">Esto es un título H1 en Century</h1>
		<h1 class="century-bold">Esto es un título H1 en Century bold</h1>


		<h2 class="kitsuneUdon">Esto es un subtítulo en KitsuneUdon</h2>
		<h2 class="century">Esto es un subtítulo en Century</h2>
		<h2 class="century-bold">Esto es un subtítulo en Century bold</h2>


		<h3 class="kitsuneUdon">Esto es un en KitsuneUdon</h3>
		<h3 class="century">Esto es un en Century</h3>
		<h3 class="century-bold">Esto es un en Century bold</h3>


		<h4 class="kitsuneUdon">Esto es un título en KitsuneUdon</h4>
		<h4 class="century">Esto es un título en Century</h4>
		<h4 class="century-bold">Esto es un título en Century bold</h4>

		<h5 class="kitsuneUdon">Esto es un título en KitsuneUdon</h5>
		<h5 class="century">Esto es un título en Century</h5>
		<h5 class="century-bold">Esto es un título en Century bold</h5>

		<p class="kitsuneUdon">Esto es un título en KitsuneUdon</p>
		<p class="century">Esto es un título en Century</p>
		<p class="century-bold">Esto es un título en Century bold</p>
	</div>

	<div class="row">

	<a href="" class="btn btn-green">Botón green</a>
	<a href="" class="btn btn-pink">Botón pink</a>
	<a href="" class="btn btn-lightBlue">Botón lightBlue</a>
	<a href="" class="btn btn-success">Botón success</a>
		
	</div>
</div>

<section class="margin-20">
			<div class="kitsuneUdon text-center container alert alert-primary alert-text">
				Esto es una alerta "primary"
			</div>
			<div class="kitsuneUdon text-center container alert alert-warning alert-text">
				Esto es una alerta "warning"
			</div>
			<div class="kitsuneUdon text-center container alert alert-success alert-text">
				Esto es una alerta "success"
			</div>
			<div class="kitsuneUdon text-center container alert alert-danger alert-text">
				Esto es una alerta "danger"
			</div>
</section>
<section class="margin-20">
			<div class="century text-center container alert alert-primary alert-text">
				Esto es una alerta "primary"
			</div>
			<div class="century text-center container alert alert-warning alert-text">
				Esto es una alerta "warning"
			</div>
			<div class="century text-center container alert alert-success alert-text">
				Esto es una alerta "success"
			</div>
			<div class="century text-center container alert alert-danger alert-text">
				Esto es una alerta "danger"
			</div>
</section>

<p>This is the <code>Panel</code> constructor:</p>
<pre><code>

</code></pre>
<!-- <h1 class="kitsuneUdon">Esto es un título H1 en KitsuneUdon</h1>
<h1 class="century">Esto es un título H1 en Century</h1>
<h1 class="century-bold">Esto es un título H1 en Century bold</h1> -->