<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome <%= @user.name %></h1>
    <p>
      You have successfully buy
    </p>
    <%= image_tag @order.picture_for_custom.picture.url(:medium), style: "height:500px"  %>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>