<div class="modal fade" id="shoppingcart">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<p class="pull-right text-primary"><b>4 items</b></p>
				<h4 class="modal-title text-primary"><span class="glyphicon glyphicon-shopping-cart"></span> Tus compras </h4>
			</div>
			<div class="modal-body">
				<table class="table table-bordered">
					<tr>
						<th>Serie</th>
						<th>Item Name</th>
						<th>Unit Price </th>
						<th>Quantity</th>
						<th>Price</th>
						<th></th>
					</tr>
					<tr>
						<td>1</td>
						<td>Apple iPhone 6</td>
						<td>$399</td>
						<td><input type="text" class="form-control" value="1" placeholder="Enter Quantity" style="width:50px;"></td>
						<td>$399</td>
						<td><a href="#" class="btn btn-lightBlue btn-sm">Actualizar carrito</a><a href="#" class="btn btn-pink btn-sm">Eliminar</a></td>
					</tr>
					<tr>
						<td>1</td>
						<td>Apple iPhone 6</td>
						<td>$399</td>
						<td><input type="text" class="form-control" value="1" placeholder="Enter Quantity" style="width:50px;"></td>
						<td>$399</td>
						<td><a href="#" class="btn btn-danger btn-sm">Eliminar</a></td>
					</tr>
					<tr>
						<td>1</td>
						<td>Apple iPhone 6</td>
						<td>$399</td>
						<td><input type="text" class="form-control" value="1" placeholder="Enter Quantity" style="width:50px;"></td>
						<td>$399</td>
						<td><a href="#" class="btn btn-danger btn-sm">Eliminar</a></td>
					</tr>
					<tr>
						<td>1</td>
						<td>Apple iPhone 6</td>
						<td>$399</td>
						<td><input type="text" class="form-control" value="1" placeholder="Enter Quantity" style="width:50px;"></td>
						<td>$399</td>
						<td><a href="#" class="btn btn-danger btn-sm">Eliminar</a></td>
					</tr>
					<tr class="active lead">
						<td colspan="4">Total</td>
						<td>$1,096</td>
						<td><a href="#" class="btn btn-danger btn-sm">Limpiar carrito</a></td>
					</tr>
				</table>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn btn-success pull-right" data-target="#payment" data-toggle="modal">Pagar<span class="glyphicon glyphicon-chevron-right"></span></a>
				<a href="#" class="btn btn-default pull-left" data-dismiss="modal">Seguir comprando</a>
			</div>
		</div>
	</div>
</div>