<h1>Editar colección</h1>
<%= bootstrap_form_for @collection, method: "put" do |el| %>
<div>

	<%= el.text_field :name, label:"Nombre de la colección", placeholder: "Nombre de la colección" %>

</div>
<div>
	<a class="btn btn-default"  href="/">Cancelar</a>
	<%= el.submit "Editar", class: "btn btn-success" %>
</div>
<%end%>