/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery.emojipicker
 *= requier jquery.emojipicker.a
 *= require_tree .
 *= require_self
 */

 @import url(https://fonts.googleapis.com/css?family=Asap:400,400italic,700);

 @font-face {
  font-family: 'Century Gothic Stb Bold';
  src: url("Century_Gothic_Std_Bold.otf") format("opentype");
}

@font-face {
  font-family: 'Century Gothic';
  src: url("century_gothic.ttf");
}

@font-face {
  font-family: 'KitsuneUdon';
  src: url("KitsuneUdon.otf") format("opentype");
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #000;
}


body{
  font-family: 'Century Gothic'
}


h1{
  font-size: 50px;
}

h2{
  font-size:40px;
}

h3{
  font-size: 20px;
}

h4{
  font-size: 14px;
}

.subtitle{
  text-align:center; 
  margin-bottom:20px;
  color: #4a4a4a;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

.price{
  font-size: 140px
}

.withBorder{
  border: solid 1px black;
}


.margin-down{
  margin-bottom: 10px;
}

.margin-10 {
  margin-top: 10px;
}
.margin-20 {
  margin-top: 20px;
}
.margin-left-10{
  margin-left: 10px;
}

#c{
  border: none
}

span.glyphicon.bigIcon {
  font-size: 5em;
}


.uploadcare-widget-status-ready .uploadcare-widget-button-open, .uploadcare-widget-status-started .uploadcare-widget-status, .uploadcare-widget-status-started .uploadcare-widget-text, .uploadcare-widget-status-started .uploadcare-widget-button-cancel, .uploadcare-widget-status-loaded .uploadcare-widget-text, .uploadcare-widget-status-loaded .uploadcare-widget-button-remove, .uploadcare-widget-status-error .uploadcare-widget-text, .uploadcare-widget-status-error .uploadcare-widget-button-open{
  border: 2px dashed rgba(64,160,191,1);
  width:80px;
  height:80px;
  text-align: center;
  color:rgba(64,160,191,1);
  background: none;
  cursor:pointer;
  white-space: normal;
  padding:20px 5px;
}

.uploadcare-widget-status-loaded .uploadcare-widget-text {
  padding: 0px;
  word-wrap: break-word;
}

.nav-tabs.nav-justified>li {
  background-color: #313132
}

.nav-tabs.nav-justified>li a  {
  color: white
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color: #313132;
  background-color: white
}

.nav>li>a:focus, .nav>li>a:hover {
  color: #313132;
  background-color: white
}

/* --------Efectos fotos ---------*/

  .sepia {
   filter: sepia(1);
   -webkit-filter: sepia(1)
 };

 .contrast {
  -webkit-filter: contrast(4);
  filter: contrast(4);
}

.grayscale {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.saturate {
  -webkit-filter: saturate(8);
  filter: saturate(8);
}

.huerotate {
  -webkit-filter: hue-rotate(90deg);
  filter: hue-rotate(90deg);
}

.invert {
  -webkit-filter: invert(.8);
  filter: invert(.8);
}

.opacity {
  -webkit-filter: opacity(.2);
  filter: opacity(.2);
}

.brightness {
  -webkit-filter: brightness(3);
  filter: brightness(3);
}

/* --------Efectos fotos ---------*/

/* -------alerts----------*/
.alert{
  border: 0px;
  border-radius: 0px;
  background: none;
  color:white;
}

.alert-success{
  background-color:rgba(46, 204, 113,0.8);
}

.alert-warning{
  background-color:rgba(241, 196, 15,0.8)
}

.alert-danger{
  background-color: rgba(231, 76, 60,0.8)
}

.alert-primary{
  background-color:rgba(52, 152, 219,0.8);
}

.alert-text{
  font-size: 30px;
}

/* -------alerts----------*/

.home{
  background: url('bg/mainbg3.png');
  background-size: cover;

}

#crea_case {
  background: url('bg/hero.png');
}

footer {
  padding: 20px 0 30px 0;
  background-color: rgb(26,26,26);
  color: rgb(0,169,255);
  font-family: 'Century Gothic';
  font-weight: 300;
  display:block;
}

.footer-mobile{
  display:none;
}


.footer_title {
  /*font-size:;*/
  color:white;

}

.footer-brand{
  font-size: 30px;
}

footer ul {
  list-style-type: none;
}

.social_networks_container{
  padding-top: 50px;
}

.social_networks {
  width: 50px;
  margin-right: 10px;
}

#logo {
  height: 80px;
  padding:10px;
  display:block
}


.rectangulo {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 2s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.lightblue-text{
  color: rgba(64,160,191,1);
}

.lightblue-aa{
  background-color: rgba(64,160,191,1);
}

.pink-text{
  color: rgba(229,69,140,1);
}
.pink-aa{
  background-color: rgba(229,69,140,1);
}

.white-aa {
  background-color: rgba(255,255,255,1);
}

.pink-aa, .lightblue-aa, .black-aa, .white-aa {
  padding: 0px;
}

.datos1{
  background: url('bg/datos1.png');
  background-size: cover;
  -webkit-filter: brightness(120%);
  color:white;
}

.datos-b{
  position: relative;
/*  background-size: cover;*/
  height:80%;
  z-index: -1;
  top:20%;
  left: 0;
  bottom: 0;
/*  background: url('assets/bg/rombo.svg');
  background-repeat: no-repeat;*/
}

.datos2{
  background: url('bg/datos2.png');
  background-size: cover;
  -webkit-filter: brightness(120%);
  color:white;
}

.datos3{
  background: url('bg/datos3.png');
  background-size: cover;
  -webkit-filter: brightness(120%);
  color:white;
}

.home1{
  background: url('bg/home1.png');
  background-size: cover;
  -webkit-filter: brightness(120%);
  padding-right:0px;
  padding-left:0px;
  color:white;
}

.home2{
  background: url('bg/home2.png');
  background-size: cover;
  -webkit-filter: brightness(120%);
  padding-right:0px;
  padding-left:0px;
  color:white;
}

.home3{
  background: url('bg/home3.png');
  background-size: cover;
  -webkit-filter: brightness(120%);
  padding-right:0px;
  padding-left:0px;
/*  color:white;*/
}

.home4{
  background: url('bg/home4.png');
  background-size: cover;
  padding-right:0px;
  padding-left:0px;
  color:white;
}

.home5{
  background: url('bg/home5.png');
  background-size: cover;
  -webkit-filter: brightness(120%);
  padding-right:0px;
  padding-left:0px;
  color:white;
}

.century{
  font-family: 'Century Gothic';
}

.kitsuneUdon{
  font-family: 'KitsuneUdon';
}

.century-bold{
  font-family:"Century Gothic Stb Bold";
}

.uppercase{
  text-transform: uppercase;
}

.section{
  height: 100vh;
}

#conocenos{
  min-height:90vh;

}

.noPadding{
  padding: 0px;
}

#emojiskeyboard{
  margin: 20px 200px;
}

.tab-center{
  margin-left:200px;
  margin-right:200px;
}

.supercenter{
  display:flex;
  justify-content:center;
  align-items:center;
}

.stripe{
  background-color: rgba(29,29,27,1);
/*  border-top: 300px solid transparent;
border-bottom: 300px solid rgba(29,29,27,1);*/
left:0;
right:0;
width:100%;
position: relative;
}

.white{
  color:rgba(255,255,255,1);
  position:absolute;
  bottom:0;
  right:0;
  padding-right: 10px
}

.white-text{
  color: rgba(255,255,255,1)
}


.whiteBg{
  background-color: rgba(255,255,255,1)
}

.black-aa{
  background-color: rgba(0,0,0,1)
}

a, a:active, a:hover{
 color: inherit; 
}

.input-group-addon{
  background:none;
  border-radius: 0px;
  border:1px solid #000;
  border-right: none;
}

.form-control{
  border-radius: 0px;
  border:1px solid #000;
  /*border-left: none;*/
  box-shadow:none
}



    .right-side {
    border-radius: 1px;
    text-align: center;
    padding: 0px;
  }
  .caption {
    /*margin: 22px 0;*/
    padding-top: 22px;
/*    border-left: solid black 4px;*/
    text-align: center;
  }

  .thumbnail .caption {
    padding: 22px 20px 22px 0px;
  }

    .title{
    color:black
  }

    .thumbnail{
    border: none;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow:none;
/*    border: solid black 3px;*/
    margin:10px 0;
  }

#artist3, #artist4, #artist5, #artist6, #artist7 {
    background-image: url('pics/kate.png');
    background-size: cover;
  }

/*    #artist1 {
    background-image: url('bg/artist1.png');
    background-size: cover;
  }*/
      #artist2 {
    background-image: url('bg/artist2.png');
    background-size: cover;
  }
/*-------------------buttons-------------------*/


/*button black regular*/
  .btn-primary{
    background:none;
    border-radius: 0px;
    border: solid black 0px;
    text-decoration: none;
    text-shadow:none;
    color: black;
    box-shadow:none;
  }

  .btn-primary:hover, .btn-primary:active, .btn-primary:focus{
    background:none;
    border-radius: 0px;
    border: solid black 0px;
    color: black;
    box-shadow:none;
  }

/*Button black big*/
.btn-success{
  background:none;
  background-color: rgb(0,0,0);
  border-radius: 50px;
  border: solid rgba(0,0,0,1) 0px;
  text-decoration: none;
  text-shadow:none;
  color: white;
  font-size: 20px;
}

.btn-success:hover, .btn-success:active, .btn-success:focus{
    background:none;
    border-radius: 50px;
    border: solid rgba(0,0,0,1) 0px;
    background:none;
    background-color: rgba(0,0,0,1);
    color: white;
    font-size: 20px;
  }

/*Button white*/
.btn-default{
  background:none;
  border-radius: 0px;
  border: solid white 2px;
  text-decoration: none;
  text-shadow:none;
  color: white;
  font-size: 25px;
}

.btn-default:hover, .btn-default:active, .btn-default:focus{
  background:none;
  border-radius: 0px;
  border: solid white 2px;
  background:none;
  background-color: rgba(255,255,255,0);
  color: white;
  font-size: 25px;
}

/*Button Red*/ 
.btn-red{
  background-color: rgba(192, 57, 43,0.7);
  border-radius: 50px;
/*  border: solid rgba(192, 57, 43,0.7) 2px;*/
  text-decoration: none;
  text-shadow:none;
  color: white;
  font-size: 18px;
  padding:6px 20px;
}

  .btn-red:hover, .btn-red:active, .btn-red:focus{
    background:none;
    border-radius: 50px;
/*    border: solid rgba(192, 57, 43,0.7) 2px;*/
    background:none;
    background-color: rgba(192, 57, 43,0.7);
    color: white;
    font-size: 18px;
    padding:6px 20px;
  }

  /*Button Pink*/
.btn-pink{
  background-color: rgba(229,69,140,1);
  border-radius: 50px;
  border: solid rgba(229,69,140,1) 2px;
  text-decoration: none;
  text-shadow:none;
  color: white;
  font-size: 20px;
}

  .btn-pink:hover, .btn-pink:active, .btn-pink:focus{
    background:none;
    border-radius: 50px;
    border: solid rgba(229,69,140,1) 2px;
    background:none;
    background-color: rgba(229,69,140,1);
    color: white;
    font-size: 18px;
  }

    /*Button LightBlue*/
.btn-lightBlue{
  background-color: rgba(64,160,191,1);
  border-radius: 50px;
  border: solid rgba(64,160,191,1) 2px;
  text-decoration: none;
  text-shadow:none;
  color: white;
  font-size: 18px;
  padding:6px 20px;
}

  .btn-lightBlue:hover, .btn-lightBlue:active, .btn-lightBlue:focus{
    background:none;
    border-radius: 50px;
    border: solid rgba(64,160,191,1) 2px;
    background:none;
    background-color: rgba(64,160,191,1);
    color: white;
    font-size: 18px;
    padding:6px 20px;
  }

    /*Button Green*/
.btn-green{
  background-color: rgba(46, 204, 113,1.0);
  border-radius: 50px;
  border: solid rgba(46, 204, 113,1.0) 2px;
  text-decoration: none;
  text-shadow:none;
  color: white;
  font-size: 18px;
  padding:6px 20px;
}

  .btn-green:hover, .btn-green:active, .btn-green:focus{
    background:none;
    border-radius: 50px;
    border: solid rgba(46, 204, 113,1.0) 2px;
    background:none;
    background-color: rgba(46, 204, 113,1.0);
    color: white;
    font-size: 18px;
    padding:6px 20px;
  }  


/*-------------------buttons-------------------*/

.divider {
    margin-left: 40px;
    display: inline-block;
    width: 0;
    border-right: 2px solid #000;
    border-left: 2px solid #000;
    border-radius: 2px
}

.divider-h {
    display: inline-block;
    height: 0;
    width:100%;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    border-radius: 2px
}

.artists{
  margin: 37.5px 0;
}

canvas {
  padding:10px;
}

/*.canvas-container{
  margin-top:-40px;
}*/
.artist_profile {
  background-color: rgba(255,255,255,0.9)
}

.center {
  text-align: center;
}

.designtocase{
  height: 80px;
  width: 80px;
  margin-left: 5px;
  margin-top: -60px;
}


.color-button {
  height:20px;
  width:20px; 
  border-radius:20px;
  display:inline-block;
}

.other_color_button{
  height:20px;
  width:20px; 
  border-radius:20px;
  background: url('bg/more.png');
  display:inline-block;
}

.color_button2{
  height:20px;
  width:20px; 
  border-radius:20px;
  display:inline-block;
}

#newtext{
  width:100px;
}
.tab-content{
  height: 20vh;
  background-color:  #f3f3f3;
  overflow-x: hidden;
  overflow-y: scroll;
  box-sizing: border-box
}

.tab-pane{
  padding:10px 30px;
}

.infoContainer{
  background-color:white;
  margin-top:-100px;
}

.showCase{
  height: 400px;
}

#terminos_modal {
  width: 70%;
  padding: 20px;
}   

.checkout_box{
  border:1px solid rgba(64,160,191,1);
  background-color:rgba(253, 248, 231, 0.7);
}

/*.precio{
  position: relative;
  bottom: 0;
  right: 0;
} */

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

.section {
  /*height: auto;*/
  padding: 20px;
  min-height: 10rem;
}

#home-main{
  height:100vh;
}

footer{
  margin-top: 40px;
}

.footer-desktop{
  display:none;
}

/*.footer-mobile{
  display:block;
}*/

.social_networks_container{
  padding-top: 40px;
}

.social_networks {
  width: 40px;
  margin-right: 10px;
}

.infoContainer{
  background-color:white;
  margin: 10px 0;
}

h1{
  font-size: 30px;
}
.home{
  background-position: 15% 70%;
}

.showCase{
  height: 300px;
} 
}